<head>
  <script type="text/javascript" src="http://canvasjs.com/assets/script/canvasjs.min.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCCHhbbPnayz5tlbd_4PaQsnrXqKhA2sYIv&libraries=visualization"></script>
  <script src="plotly-latest.min.js"></script>
  <title>Data Exploration Tool</title>
</head>

<body>
  <div class="header"><h1>Data Exploration Tool</h1></div>
  <div class="navigation">{{>navigation}}</div>
  {{>about}}
  <div class="pure-g">
    <div class="pure-u-1-5">
  {{>querySelect}}
    </div>
    <div class="pure-u-4-5">
  {{>dataItem}}
  {{>canvaschart}}
  <!-- {{>map}} -->
  {{>tester}}
  {{>dataItem}}
    </div>
  </div>
</body>

<template name="navigation">

</template>

<template name="about">
 <div id="acontent">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
</template>

<template name="instructions">
  <div id="inscontent"></div>
</template>

<template name="canvaschart">
    <div id="chartContainer" class="chart">{{createChart}}</div>
</template>

<template name="home">
</template>

<template name="info">
  <h2>Select an Experiment</h2>
</template>

<template name="tester">
  <div id="tester" style="width:600px;height:250px;"></div>
</template>

<template name="querySelect">
  <form name="querySelect" class="pure-form pure-form-stacked">
    <p><b>Welcome to DataExplorer,<br> an interactive data visualisation tool<br>
    for sensor data in mobile devices.</b></p><br>
    <fieldset>
      <legend><b>Select an Experiment</b></legend>
    <label>Select Experiment:</label>
    <select id="experiments" style="width:200px">
      <option value="EX39530_1421125363.41355">EX39530_1421125363.41355</option>
    </select>
    <br>
    <label>Select Session:</label>
    <select id="sessions" style="width:200px">
      <option value="S43945033_1421125363.41355">S43945033_1421125363.41355</option>
    </select>
    <br>
    <label>Select Parameter:</label>
    <select id="parameters" style="width:200px">
      <option value="Accelerometer">Accelerometer</option>
      <option value="Magnetometer">Magnetometer</option>
      <option value="Motion Gravity Detector">Motion Gravity Detector</option>
      <option value="Motion User Acceleration">Motion User Acceleration</option>
      <option value="Motion Attitude">Motion Attitude</option>
      <option value="Gyroscope Rotation Rate">Gyroscope Rotation Rate</option>
      <option value="Motion Rotation Rate">Motion Rotation Rate</option>
      <option value="Magnetic Heading">Magnetic Heading</option>
      <option value="Plotly Tester">Plotly Tester</option>
      <option value="Calibrated Magnetic Field">Calibrated Magnetic Field</option>
      <option value="Latitude/Longitude">Latitude/Longitude</option>
      <option value="GPS Speed">GPS Speed</option>
    </select>
    <br>
    <label>Select Sampling Rate (Seconds):</label>
    <select id="samples" style="width:200px">
      <option value="0">Raw Data</option>
      <option value="5">5 Seconds</option>
      <option value="10">10 Seconds</option>
      <option value="15">15 Seconds</option>
    </select>
    <br>
    <label>Select Derived Function:</label>
    <select id="functions" style="width:200px">
      <option value="">No Function</option>
      <option value="generateStandardDeviation">Standard Deviation</option>
      <option value="generateMean">Mean</option>
      <option value="generateMedian">Median</option>
      <option value="generateMaximum">Maximum</option>
      <option value="generateMinimum">Minimum</option>
      <!-- <option value="genetateVariance">Variance</option> -->
      <option value="generateIQR">IQR</option>
      <option value="generateRMS">RMS</option>
    </select>
    <br>
    <input id="parameterSelect" value="Submit" type="submit" class="pure-button pure-button-primary">
  </fieldset>
  </form>

</template>

 <template name="map">
   <div class="map-container">
    {{> googleMap name="issueMap" options=issueMapOptions}}
  </div>
</template>

<template name="dataItem">
  <br>
  <tr>
    <td></td>
  </tr>
</template>

<template name="chartContainer">
  <div id="lineChart" style="width:900px; height:500px;"></div>
</template>